<h3>SkillPeer is an open-source social project</h3>
<p>
Education and face-to-face learning groups are the keys
to solving many of the world's problems: from youth unemployment
to the breakup of communities.
</p>
<p>
With that in mind this project is developed using the
<a href="http://searchenterpriselinux.techtarget.com/definition/open-source-software"
target="_blank">open source</a> model which means that everyone can join.
We can always use web developers, designers, and others to help us. Even
spreading the word can be great.
</p>
<p>
If you would like to contribute to this project, just send us a short
<a href="mailto:miljenko.jakovljevic@gmail.com">email</a> about what you would like to do.
The <a href="https://bitbucket.org/mjakov/skillpeer" target="_blank">source code</a> is hosted at
bitbucket.
</p>
<p>
No skills? No problem. SkillPeer gives you the
perfect opportunity to learn. Other developers provide you with their
mentoring and support.
</p>
