<% provide(:page_title, "About") %>

  <div data-role="collapsible">
    <h3>What is SkillPeer?</h3>
    <p>
      <p>SkillPeer provides free, face-to-face, direct learning. It organizes you and your peers
        in cohesive groups based on your learning goals and competence, thus creating a free learning organization.
        Through exchange of teaching and learning each person shares in the group's
        knowledge potential.
      </p>

      <h3>SkillPeer is an open-source social project</h3>
      <p>
      Education and face-to-face learning groups are the keys
      to solving many of the world's problems: from youth unemployment
      to the breakup of communities.
      </p>
      <p>
      With that in mind this project is developed using the
      <a href="http://searchenterpriselinux.techtarget.com/definition/open-source-software"
      target="_blank">open source</a> model which means that everyone can join.
      We can always use web developers, designers, and others to help us. Even
      spreading the word can be great.
      </p>
      <p>
      If you would like to contribute to this project, just send us a short
      <a href="mailto:miljenko.jakovljevic@gmail.com">email</a> about what you would like to do.
      The <a href="https://bitbucket.org/mjakov/skillpeer" target="_blank">source code</a> is hosted at
      bitbucket.
      </p>
      <p>
      No skills? No problem. SkillPeer gives you the
      perfect opportunity to learn. Other developers provide you with their
      mentoring and support.
      </p>
    </p>
  </div>

  <div data-role="collapsible">
    <h3> Learning Skills</h3>
    <p>
      <p>
      SkillPeer helps you find learning groups with like-minded people near you. To
      start, just complete the free <%= link_to "registration", new_user_path %>
      and add skills to your profile. Then check out the <%= link_to "groups", groups_path %>
      section.
      </p>
      <p>
        No meeting near you? No problem. Read on how to
        <%= link_to "start", static_pages_organizers_path %> a new group.
      </p>
    </p>
  </div>

  <div data-role="collapsible">
    <h3>Mutual Teaching</h3>
    <p>
      <p>
        SkillPeer gives you the opportunity you always wanted at school:
        to try yourself at being a teacher.
      </p>
      <p>
        Once you have reached a certain skill level you can help fellow learners
        who are beginners. Why not use this opportunity and later benefit yourself
        from other people who can teach you something in return?
      </p>
      <p>
        Besides, it can be fun to test yourself to see how well you are doing; teaching
        is the ultimate test. That is why it was said by the ancients that we learn best when we teach
        others - docendo discimus.
      </p>
    </p>
  </div>

  <div data-role="collapsible">
    <h3>Starting Communities</h3>
    <p>
      <h3>Target audience</h3>
      <ul data-role="listview">
        <li>
          <h4>Individuals</h4>
          <p class="wrap">Who want to improve their neighborhood</p>
        </li>
        <li>
          <h4>Pub owners</h4>
          <p class="wrap">Who want to provide social events</p>
        </li>
        <li>
          <h4>Teachers and educators</h4>
          <p class="wrap">Who want to promote peer-to-peer learning</p>
        </li>
      </ul>
      <h4>What do you need?</h4>
      <p>
      To organize a learning group you need to have a meeting space. If you
      don't have your own space, your can ask for a time slot in a public space
      like a cafe, local school, or university. Public space owners
      are usually accommodating if your group provides some social function.
      </p>
      <h4>Next steps?</h4>
      <p>
      Once you have found a suitable meeting space, you are ready to list your group
      on SkillPeer for other people to see. When you are ready, just send us a short
      <a href="mailto:miljenko.jakovljevic@gmail.com">email</a> with a description of your
      group's idea and we will grant you organizer rights to open your own group.
      </p>
    </p>
  </div>
