<% provide :page_title, "SkillPeer" %>

<h3>Information for Learners</h3>

<p>
SkillPeer helps you find learning groups with like-minded people near you. To
start, just complete the free <%= link_to "registration", new_user_path %>
and add skills to your profile. Then check out the <%= link_to "groups", groups_path %>
section.
</p>
<p>
  No meeting near you? No problem. Read on how to
  <%= link_to "start", static_pages_organizers_path %> a new group.
</p>
