<h3>Ever wanted to start a learning community?</h3>
<div id="organizers-page">
<h3>Target audience</h3>
<ul data-role="listview">
  <li>
    <h4>Individuals</h4>
    <p class="wrap">Who want to improve their neighborhood</p>
  </li>
  <li>
    <h4>Pub owners</h4>
    <p class="wrap">Who want to provide social events</p>
  </li>
  <li>
    <h4>Teachers and educators</h4>
    <p class="wrap">Who want to promote peer-to-peer learning</p>
  </li>
</ul>
<h4>What do you need?</h4>
<p>
To organize a learning group you need to have a meeting space. If you
don't have your own space, your can ask for a time slot in a public space
like a cafe, local school, or university. Public space owners
are usually accommodating if your group provides some social function.
</p>
<h4>Next steps?</h4>
<p>
Once you have found a suitable meeting space, you are ready to list your group
on SkillPeer for other people to see. When you are ready, just send us a short
<a href="mailto:miljenko.jakovljevic@gmail.com">email</a> with a description of your
group's idea and we will grant you organizer rights to open your own group.
</p>
<div>
