<h2>Mutual Teaching</h2>

<p>
  Have you ever lacked the motivation to learn something? SkillPeer gives you the distinct motive
  and the unique opportunity you may have missed at school:
  to try yourself at being a teacher.
</p>
<p>
  Once you have reached a certain skill level you can help fellow learners
  who are beginners. Why not use this opportunity and later benefit yourself
  from other people who can teach you something in return?
</p>
<p>
  Besides, it can be fun to test yourself to see how well you are doing; teaching
  is the ultimate test. That is why it was said by the ancients that we learn best when we teach
  others - docendo discimus.
</p>
