<% provide(:page_title, "Login") %>

If you don't have an account please <%= link_to "sign up", new_user_path %>

<h2>Log in</h2>
<%= form_tag(login_path, method: 'post') %>
<div>
<%= label_tag 'Email' %>
<%= email_field_tag 'email' %>
</div>
<div>
<%= label_tag 'Password' %>
<%= password_field_tag 'password' %>
</div>
<%= submit_tag 'Log in' %>
