<%= form_for @group do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :name, "Group name" %>
  <%= f.text_field :name %> <br />
  <%= f.label :max_places, "Maximum number of places" %>
  <%= f.number_field :max_places %> <br />
  <%= f.label :description %>
  <%= f.text_area :description %> <br />
  <%= f.label :area_size, "Size of each learning area" %>
  <%= f.number_field :area_size %> <br />
  <%= f.label :area_count, "Number of learning areas" %>
  <%= f.number_field :area_count %> <br />

  <%= f.fields_for @location do |lf| %>
  	<%= lf.label :name, "Location name" %>
  	<%= lf.text_field :name, data: { autocomplete_source: locations_path } %>
  	<%= lf.label :street %>
  	<%= lf.text_field :street %>
  	<%= lf.label :number, "Number" %>
  	<%= lf.text_field :number %>
  	<%= lf.label :city %>
  	<%= lf.text_field :city %>
  	<%= lf.label :postnr, "Postal code" %>
  	<%= lf.text_field :postnr %>
  	<%= lf.label :country %>
  	<%= lf.text_field :country %>
  <% end %>
  <%= f.submit %>

<% end %>
