<% provide(:page_title, "Learning Groups") %>

<h3>Collaborative Learning in:</h3>

<% if logged_in? && current_user.facilitator? %>
  <div data-role="controlgroup" data-type="horizontal">
    <%= link_to "New Group", new_group_path, "data-role": "button" %>
  </div>
<% end %>

<ul data-role="listview" data-inset="true" data-shadow="false" class="overfill-list">
  <% @groups_hash.each_key do |ctry| %>
    <li data-role="collapsible" data-iconpos="left" data-inset="false">
      <h2> <%= ctry %> </h2>
      <ul data-role="listview" data-theme="d" data-inset="true" data-shadow="false">
        <% @groups_hash[ctry].each_key do |city| %>
          <li data-role="collapsible" data-iconpos="left" data-inset="false">
            <h2> <%= city %> </h2>
            <ul data-role="listview" data-inset="true" data-shadow="false">
            <% @groups_hash[ctry][city].each do |grp| %>
              <li data-theme="b">
                <%= link_to "#{grp.name}", group_path(grp) %>
              </li>
            <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
