<% provide :page_title, "Meeting Group Page" %>

<div class="group-details">

  <ul data-role="listview" data-theme="b" data-inset="true" data-shadow="false" class="overfill-list">
    <li data-role="collapsible" data-iconpos="left" data-inset="false">
      <h2> <%= @group.name %> </h2>
      <ul data-role="listview" data-inset="true" data-shadow="false">
        <li>
          <p class="wrap"><%= @group.description %> </p>
        </li>
      </ul>
    </li>
  </ul>

  <% if correct_facilitator?(@group) %>
    <div class="command-toolbar">
      <div data-role="controlgroup" data-type="horizontal" data-mini="true">
          <%= link_to "Edit", edit_group_path(@group), "data-role": "button",
            class: "ui-btn ui-corner-all ui-btn-icon-left" %>
          <%= form_tag group_path, method: 'delete' do %>
            <%= submit_tag "Delete", data: { confirm: "Are you sure?" } %>
          <% end %>
          <%= link_to "New Event", new_group_event_path(@group), "data-role": "button",
            class: "ui-btn ui-corner-all ui-btn-icon-right" %>
      </div>
    </div>
  <% end %>

  <p>
    <%= @group.location.name %>,
    <%= @group.location.street %>,
    <%= @group.location.number %>,
    <%= @group.location.postnr %>,
    <%= @group.location.city %>,
    <%= @group.location.country %>
  </p>

  <p> Maximum Places: <%= @group.max_places %> </p>
  <% if current_user && current_user.facilitator? %>
    <p> Area Size: <%= @group.area_size %> </p>
    <p> Area Count: <%= @group.area_count %> </p>
  <% end %>

  <% if !logged_in? %>
    <%= link_to "Sign in", new_login_path, "data-role": "button", "data-theme": "c" %>
  <% end %>
</div>

<h3>Events</h3>
<table data-role="table" id="event-table" data-mode="reflow" class="ui-responsive events">
  <thead>
    <tr>
      <th> Date </th>
      <th> Start </th>
      <th> End </th>
      <th> Places Left </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @group.events.order(:time_start).each do |event| %>
      <tr id="<%= event.id %>" >
      <%= render event, object: event %>
      </tr>
    <% end %>
  </tbody>
</table>
