<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div>
  <%= f.label :name %>
  <%= f.text_field :name %> <br />
  </div>
  <div>
  <%= f.label :email %>
  <%= f.text_field :email %> <br />
  </div>
  <div>
  <%= f.label :password %>
  <%= f.password_field :password %> <br />
  </div>  
  <%### recaptcha_tags %>

  <div>
  <%= f.submit "Sign up" %>
  </div>
<% end %>
