<% provide(:page_title, "Edit Profile") %>

<h1> Edit Profile </h2>

  <%# form_for(current_user, url: user_path()) do |f| %>

  <%# form_for(current_user) do |f| %>
  <%= form_for(@user) do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br />
    <%= f.label :email %>
    <%= f.text_field :email %> <br />
    <%= f.label :password %>
    <%= f.password_field :password %> <br />
    <%= f.submit %>
  <% end %>

<%= link_to "Home", root_url %>
