<h2> User Profile </h2>

<table data-role="table" data-mode="reflow" class="ui-responsive table-stroke">
  <thead> <tr> </tr> </thead>
  <tbody>
    <tr>
      <td class="user-label">Name</td>
      <td> <%= @user.name %> </td>
    </tr>
    <tr>
      <td class="user-label">Role</td>
      <td> <%= @user.role_str %> </td>
    </tr>
    <tr>
      <td class="user-label">Email</td>
      <td> <%= @user.email %> </td>
    </tr>
  </tbody>
</table>
<%= link_to "Add skill", new_user_skill_path(@user), "data-role": "button" %>
<%= link_to "Edit Profile", edit_user_path(@user), "data-role": "button" %>
<% if @user.visitor? || @user.facilitator? %>
  <% if current_user.admin? %>
    <% if @user.facilitator? %>
      <%= form_tag disable_facilitator_path, method: 'post' %>
      <%= submit_tag "Disable facilitator" %>
    <% else %>
      <%= form_tag enable_facilitator_path, method: 'post' %>
      <%= submit_tag "Enable facilitator" %>
    <% end %>
  <% end %>
<% end %>

<% if @user.skills.any? %>
  <h2>Skills</h2>
  <table data-role="table" data-mode="reflow" class="ui-responsive table-stroke">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @user.skills.each do |skill| %>
       <tr>
         <td> <%= skill.knowhow.name %> </td>
         <td>
           <% if skill.teaching %>
            Teaching
           <% else %>
            Learning
           <% end %>
         </td>
         <td>
           <%= form_tag user_skill_path(@user, skill), method: :delete do %>
            <%= submit_tag "Delete", data: { confirm: "Are you sure?"}, "data-theme": "b" %>
           <% end %>
         </td>
       </tr>
      <% end%>
    </tbody>
   </table>
<% end %>
