@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$pm-canvas-color: rgb(245,246,247);
$pm-menu-bg-color: rgb(34,34,34);
$pm-menu-hover-color: rgb(60,60,60);
$pm-button-text-color: white;
$pm-title-color: white;
$pm-footer-bg-color: $pm-menu-bg-color;

body {
	background-color: $pm-canvas-color;
	font-family: Open Sans;
}

body, h1, h2, h3, h4, p, div, nav, a, span {
	margin: 0;
	padding: 0;
	text-decoration: none;
	line-height: 3em;
}

a {
	outline: 0;
}
