body {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

.pm-header {
    background-color: $pm-menu-bg-color;
    color: $pm-title-color;
    display: -webkit-flex;
    display: flex;
}

.pm-header > .pm-button-left {
    background-position: left center;
    background-image: url("icons-png/arrow-l-white.png");
    background-repeat: no-repeat;
    margin-left: 5%;
    margin-right: 25%;
    width: 16px;
    text-align: left;
}

.pm-header > a.pm-button-left {
  &:hover {
      background-color: transparent;
  }
}

.pm-header > .pm-title {
    width: 33.33%;
    text-align: center;
}

.pm-header > .pm-button-right {
    width: 16px;
    text-align: right;
    background-image: url("icons-png/home-white.png");
    background-repeat: no-repeat;
    background-position: right center;
    margin-right: 5%;
    margin-left: 25%;
    cursor: pointer;
}

.pm-header > a.pm-button-right {
  text-decoration: none;
  &:hover {
      background-color: transparent;
      text-decoration: none;
  }
}

.pm-header > h3 {
    text-align: center;
}

.pm-navbar {
    display: -webkit-flex;
    display: flex;
}

.pm-navbar > a {
    background-color: $pm-menu-bg-color;
    color: $pm-button-text-color;
    width: 33.33%;
    text-align: center;
}

a:hover, a:active, a:focus {
    background-color: $pm-menu-hover-color;
}

.pm-container {
    flex: 1 0 auto;
}

.pm-header, .pm-footer {
    background-color: $pm-footer-bg-color;
    color: $pm-title-color;
    text-align: center;
    flex: none;
}
