<% provide :page_title, "New Skill" %>

<h1>Skills</h1>

<%= form_for [@user, @skill] do |fb| %>
  <%= render "shared/error_messages", object: fb.object %>
  <%= fb.label :teaching, "I am" %>
  <%= fb.select :teaching, options_for_select([["Learning", false], ["Teaching", true]]) %> <br/>
  <%= fb.select :knowhow_id, options_from_collection_for_select(@knowhows, "id", "name") %> <br/>
  <%= fb.submit %>
<% end %>
