<%= image_tag("banner_768x329.jpg", :alt => "learning meeting banner", id: "banner_img") %>

<div class="main-footer" data-role="footer" data-position="fixed">
  <h4>Thank you for using <a href="mailto:miljenko.jakovljevic@gmail.com">SkillPeer</a></h4>
</div>
