<div data-role="header" class="ui-header" role="banner">
  <h3><%= link_to "SkillPeer", root_path, "data-theme": "a" %></h3>
  <a href="" data-rel="back" class="ui-btn ui-icon-back ui-btn-icon-notext">Back</a>
  <%= link_to "Home", groups_path, {:class => "ui-btn ui-icon-home ui-btn-icon-notext"} %>
</div>
