<div data-role="navbar" data-mini="true">
  <ul>
    <% if ! logged_in?() %>
      <li><%= link_to "Groups", groups_path %></li>
      <li id="register"><%= link_to "Sign up", new_user_path %></li>
      <li><%= link_to "Login", new_login_path %></li>      
      <li><%= link_to "About", static_pages_home_path %></li>
    <% else %>
      <li><%= link_to "Profile", user_path(current_user) %></li>
      <% if ! current_user.admin? %>
        <li><%= link_to "Groups", groups_path %></li>
      <% else %>
          <li><%= link_to "Users", users_path %></li>
      <% end %>
      <li id="logout_button"><%= button_to "Logout", login_path, {:action => "destroy", :method => "delete"} %></li>
      <li><%= link_to "About", static_pages_home_path %></li>
    <% end %>
  </ul>
</div>
