<td>
  <%= object.time_start.strftime("%d %B %Y") %>
</td>
<td>
  <%= object.time_start.strftime("%H:%M") %>h
</td>
<td>
  <%= object.time_end.strftime("%H:%M") %>h
</td>
<td class="free_places">
  <%= @group.max_places - object.users.count %>
</td>
<td>
  <div class="command-toolbar">
    <div data-role="controlgroup" data-type="horizontal" data-mini="true">
      <%= button_to "Show", group_event_path(@group, object), {action: "show", method: "get", id: "event#{object.id}" } %>
    </div>
  </div>
</td>
