<%= form_for [@group, @event] do |fb| %>
  <%= render "shared/error_messages", object: fb.object %>
  <div>
  <%= fb.label :time_start, "Start time" %>
  <%= fb.text_field(:time_start, class: "datetimepicker", id: "dtime_start") %>
  </div>
  <div>
  <%= fb.label :time_end, "End time" %>
  <%= fb.text_field :time_end, class: "datetimepicker", id: "dtime_end" %>
  </div>
  <%= fb.submit %>
<% end %>
