<h1> Event Agenda </h1>

<% if !@agenda.nil? and !@agenda.empty? %>

  <% agdArRd = @agenda.transpose %>

  <table data-role="table" data-mode="reflow" class="ui-responsive table-stroke">
    <thead>
      <tr>
        <th> Round </th>
        <% for idx in 0..(agdArRd[0].length - 1) %>
          <% if !agdArRd[0][idx].nil? %>
            <th> <%= idx + 1 %> </th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% area_idx = 1 %>
    <% agdArRd.each do |row| %>
      <% unless row[0].nil? %>
        <tr>
          <td class="area-name"> Area <%= area_idx %> </td>
          <% row.each do |trb| %>
            <% unless trb.nil? %>
              <% kwh = Knowhow.find(trb.knowhow_id) %>
              <td> <%= kwh.name %> </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      <% area_idx += 1 %>
    <% end %>
  <tbody>
  </table>
<% end %>
