<%# provide :page_title, "Event Page - #{@group.name}" %>

<h3><%= @group.name %></h3>
<h4><%= @event.time_start.strftime("%A, %d %B %Y") %></h4>
<h4><%= @event.time_start.strftime("%H:%M") %>h - <%= @event.time_end.strftime("%H:%M") %>h</h4>
<h4><%= @group.location.name %></h4>
<h4><%= @group.location.street %> <%= @group.location.number %></h4>
<h4><%= @group.location.postnr %> <%= @group.location.city %>, <%= @group.location.country %> </h4>
<h4>Places left: <%= @event.free_places %> </h4>

<% if current_user && current_user.facilitator? %>
  <div data-role="controlgroup" data-type="vertical">
    <%= link_to "Guest List", event_visitors_path(@group, @event), "data-role": "button" %>
    <%= button_to "Create Agenda", { action: "agenda", group_id: @group.id, id: @event.id} %>
  </div>
<% end %>

<div class="command-toolbar">
  <div data-role="controlgroup" data-type="horizontal" data-mini="true">
    <% if correct_facilitator?(@group) %>
      <%= button_to "Edit", edit_group_event_path(@group, @event),
          {action: "edit", method: "get", id: "edit_event#{@event.id}" }%>
      <%= form_tag group_event_path(@group, @event), method: 'delete' do %>
        <%= submit_tag "Delete", data: { confirm: "Are you sure you want to delete this event?" } %>
      <% end %>
    <% end %>
    <% if current_user && current_user.visitor? && !current_user.facilitator? %>

      <% unless attending?(@event) %>

        <%= form_tag attend_event_path(@group, @event), method: 'post' do %>
          <% if @event.free_places? %>
            <%= submit_tag "Interested" %>
          <% else %>
            <%= submit_tag "Interested", disabled: true %>
          <% end %>
        <% end %>

        <%= form_tag unattend_event_path(@group, @event), method: 'post' do %>
          <%= submit_tag "Not interested", disabled: true, class: "ui-btn-active ui-state-persist" %>
        <% end %>

      <% else %>

        <%= form_tag attend_event_path(@group, @event), method: 'post' do %>
          <%= submit_tag "Interested", disabled: true, class: "ui-btn-active ui-state-persist" %>
        <% end %>

        <%= form_tag unattend_event_path(@group, @event), method: 'post' do %>
          <%= submit_tag "Not interested" %>
        <% end %>

      <% end %>
    <% end %>
    <% if !logged_in? %>
      <%= link_to "Interested", new_login_path, "data-role": "button" %>
    <% end %>
  </div>
</div>

<h2>Skills Available</h2>

<% keys = (@learning_knowhows.keys + @teaching_knowhows.keys).uniq %>

<table id="event-skills" data-role="table" data-mode="reflow" class="ui-responsive table-stroke">
  <thead>
    <tr>
      <th> Skill </th>
      <th> Teaching </th>
      <th> Learning </th>
    </tr>
  </thead>
  <tbody>
    <% keys.each do |key| %>
      <tr>
        <td> <%= key %> </td>
        <td> <%= @teaching_knowhows[key] %> </td>
        <td> <%= @learning_knowhows[key] %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
