<% provide :page_title, "Lacotabo - Guest List" %>

<% unless @visitors.empty? %>
  <h2>Guest List</h2>
  <table data-role="table" data-mode="reflow" class="ui-responsive table-stroke">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
      <% @visitors.each do |visitor| %>
        <tr>
          <td>
            <%= visitor.name %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
