.flash_messages {
  p {
    border-radius: 20px;
    background-color: $basic-color;
    border-color: darken($basic-color, 15%);
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    padding-left: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
