.main-footer > h4 { padding: 0 0 0 0 !important; margin-top: 5px;}
.main-footer > h4 > a { font-size: 75%; text-decoration: none; outline: none; }
.main-footer > h4 > a:hover { color: white; text-decoration: none;}
.main-footer > h4 > a:active { text-decoration: none;}
