/* For groups index collapsible list */

.overfill-list
{
  .ui-li-static.ui-collapsible > .ui-collapsible-heading {
      margin: 0;
  }
  .ui-li-static.ui-collapsible {
      padding: 0;
  }
  .ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
      border-top-width: 0;
  }
  .ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,
  .ui-li-static.ui-collapsible > .ui-collapsible-content {
      border-bottom-width: 0;
  }

  .ui-collapsible-content, .ui-listview {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
  }

  .ui-content {
    padding: 0 !important;
    margin: 0 0 0 0 !important;
  }
}

.group_list .group_list_country{
  data-theme: "c" !important;
}
