.command-toolbar {
  form {
    float: left;
  }
}

.group-details {
  background-color: white;
  padding: 10px 0 5px 0;
}

.group-details > p {
  border-width: 1px;
  border-color: $basic-color;
  border-style: solid none none none;
  padding: 5px 0px 0px 0px;
  margin: 10px 0 5px 0;
  line-height: 1.5em;
}

#event-table {
  tbody > tr {
    border: 1px solid;
  }
  td {
    padding-top: 0; padding-bottom: 0;
    vertical-align: middle;
  }
}
