.ui-navbar {
  #register > a {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.ui-header {
  border-bottom-style: none !important;
  h3 > a {
      color: white !important;
      text-decoration: none !important;
      outline: none !important;
  }
}

#logout_button {
  input {
    border-radius: 0px !important;
  }
}
