div#content-menu {
  .ui-bar {
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .ui-body {
    //height: 100%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
