$basic-color: rgb(233,233,233);

body {
  font-family: 'Open Sans', sans-serif;
}

@import "static_pages";
@import "groups";
@import "group";
@import "header";
@import "footer";
@import "event";
@import "user";
@import "home";
@import "flash_message";

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .main-footer {
    margin-top: 0px;
  }
  #banner_img {
    width: 100%;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 768px) {
    #main-container, .main-footer {
      width: 768px !important;
      position: relative !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .main-footer {
      margin-top: 20px;
    }
    #banner_img {
      margin-top: 20px;
      width: 768px;
    }
}

.wrap {
  white-space: normal !important;
}
