<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield :page_title %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id="main-container" data-role="page" data-dom-cache="false">
      <%= render "shared/header" %>
      <%= render "shared/navbar" %>

      <div class="flash_messages">
        <% flash.each do |msg_type, msg_content| %>
          <p class= <%= msg_type %> >
            <%= msg_content %>
          </p>
        <% end %>
      </div>

      <div data-role="content" class="ui-content" role="main">
        <%= yield %>
      </div>

      <%= render "shared/footer" %>
    </div>

  </body>
</html>
